body, html{
    margin: 5px;
    padding: 0;
}
body{
    background-image: url('images/dunderMifflinPainting.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    font-size: 2vmin;
}
header{
    width: 98vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    /*border: 1px solid black;*/
    background: rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 8px;
}
header img#logo{
    width: 18%;
    height: 25vh;
}
header img#peoplePersonsImg{
    width: 18%;
    height: 25vh;
}
header img#office_sign{
    height: 20vh;
}
nav{
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    /*height: 7vh;*/
    width: 100%;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 30px;
    padding: 4px 0;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: dimgray;
}
/*#title{ MAKE IN PHOTOSHOP*/
    /*position: absolute;*/
    /*text-align: right;*/
    /*line-height: 182%;*/
    /*font-size: 1.3em;*/
    /*top: 2%;*/
    /*left: 29%;*/
/*}*/
.stats_container{
    height: 73vh;
    width: 20vw;
    display: inline-block;
    /*border: 1px solid black;*/
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}
.game-area {
    vertical-align: top;
    display: inline-flex;
    flex-flow: row wrap;
    height: 73vh;
    width: 77vw;
    /*border: 1px solid black;*/
    background: rgba(255, 255, 255, 0.5);
    align-self: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
/*
4. why does page scroll
5. why are card imgs not fitting properly
6. back of card lowered
 */
.card{
    margin: 1%;
    height: 35%;
    width: 14%;
    background-color: pink;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
}
.back{
    position: absolute;
    width:100%;
    height:100%;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    opacity: .4;
}
.reveal .back{
    display: none;
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
}

.card .front img {
    position: absolute;
    border: 1px solid black;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.card .back img{
    position: absolute;
    top: 30%;
    max-width: 100%;
    max-height: 100%;
}
/*.back img{*/
    /*position: absolute;*/
    /*height: 35%;*/
    /*width: 15%;*/
    /*background-color: black;*/
    /*border: 1px solid black;*/
/*}*/
/*.front img{*/
    /*position: absolute;*/
    /*height: 35%;*/
    /*width: 15%;*/
    /*background-color: black;*/
    /*border: 1px solid black;*/
/*}*/
.label{
    font-size: 1em;
    font-weight: bold;
}
.reset{
    font-size: 1em;
}

/*About Me, .html*/
#krystal_img{
    border: 1px solid black;
}
#game_description,
#skills-needed{
    display: inline-block;
}

/*PREVIOUS STYLING*/
/*body{*/
/*height: 100%;*/
/*width: 100%;*/
/*padding-top: 0;*/
/*margin-top: 0;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*font-family: Montserrat, sans-serif;*/
/*font-size: 2vmin;*/
/*box-sizing: border-box;*/
/*background-image: url('images/dunderMifflinPainting.jpg');*/
/*background-attachment: fixed;*/
/*background-repeat: no-repeat;*/
/*background-position: 20%;*/
/*background-size: cover;*/
/*position: relative;*/
/*}*/
/*header{*/
/*position: absolute;*/
/*width: 85%;*/
/*height: 20%;*/
/*left: 8%;*/
/*display: block;*/
/*color: white;*/
/*border: 1px solid black;*/
/*background: rgba(255, 255, 255, 0.5);*/
/*background-image: url('images/the_office_sign.jpg');*/
/*background-position: center center;*/
/*background-repeat: no-repeat;*/
/*background-size: contain;*/
/*}*/
/*.stats_container {*/
/*position: absolute;*/
/*margin-top: 3px;*/
/*padding-top: 5px;*/
/*border: 1px solid black;*/
/*top: 25.3%;*/
/*height: 74%;*/
/*background: rgba(255, 255, 255, 0.5);*/
/*}*/
/*.stats_container{*/
/*width: 20%;*/
/*left: 8%;*/
/*text-align: center;*/
/*text-transform: uppercase;*/
/*}*/
/*.game-area{*/
/*position: relative;*/
/*display: flex;*/
/*flex-flow: row wrap;*/
/*width: 62%;*/
/*left: 31%;*/
/*!*right: 7%;*!*/
/*}*/

/*.game-area {*/
/*display: flex;*/
/*width: 62%;*/

/*}*/
/*.card{*/
/*position: relative;*/
/*display: inline-block;*/
/*border: 1px solid black;*/
/*border-radius: 8px;*/
/*width: 110px;*/
/*height: 80px;*/
/*margin: 15px;*/
/*padding-top: 58px;*/
/*left: 2.5%;*/
/*top: 0.5%;*/
/*background-color: black;*/
/*}*/
/*.front{*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*!*display: inline-block;*!*/
/*!*border: 1px solid black;*!*/
/*!*border-radius: 8px;*!*/
/*!*left: 0;*!*/
/*!*top: 0;*!*/
/*!*background-image: url('images/michael.jpg');*!*/
/*!*background-position: center center;*!*/
/*!*background-repeat: no-repeat;*!*/
/*!*background-size: contain;*!*/
/*}*/
/*.back{*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*!*border: 1px solid black;*!*/
/*!*border-radius: 8px;*!*/
/*!*left: 0;*!*/
/*!*top: 0;*!*/
/*!*display: inline-block;*!*/
/*!*background-image: url('images/dunderMifflin.png');*!*/
/*!*background-color: black;*!*/
/*!*background-position: center center;*!*/
/*!*background-repeat: no-repeat;*!*/
/*!*background-size: contain;*!*/
/*}*/
/*PREVIOUS*/
/*.card{*/
    /*position: relative;*/
    /*border: 1px solid black;*/
    /*border-radius: 8px;*/
    /*display: inline-block;*/
    /*width: 110px;*/
    /*height: 80px;*/
    /*margin: 15px;*/
    /*padding-top: 58px;*/
    /*left: 2.5%;*/
    /*top: 0.5%;*/
/*}*/
/*.back,*/
/*.front{*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
/*}*/
/*.back{*/
    /*background-image: url('images/the_office_sign.jpg');*/
    /*background-color: black;*/
/*}*/
/*.front-michael{*/
    /*background-image: url('images/michael.jpg');*/
/*}*/
/*.front-dwight{*/
    /*background-image: url('images/dwight.jpg');*/
/*}*/